<html>
    {{> head}}
    <body>
        <div class="ui top secondary white menu">
            <a class="ui item" href="/">
                <p class="ui huge text">{{@@Name@@}}</p>
            </a>
            <div class="ui right menu">
            </div>
        </div>
        <div class="ui center aligned borderless segment">
            {{{body}}}
        </div>
    </body>
</html>
